if SHIELD_ROBBIE_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Robbie Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ROBBIE_SPLIT_LEFT || SHIELD_ROBBIE_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif
